name: Lint
on:
  # Runs on all PRs
  pull_request:
  # Manual Dispatch
  workflow_dispatch:

jobs:
  lint_python:
    name: Lint Python Code

    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Install Requirements
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install .[dev]
      - name: Lint with Flake8
        run: flake8 --statistics .

  lint_tcl:
    name: Lint TCL Code

    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Install Requirements
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install .[dev]
      - name: Lint with tclint
        run: tclint .

  spelling:
    name: Check spelling
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Check spelling
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install .[dev]
          rm -rf build
          codespell
